<%= stylesheet_link_tag "homepage_style.css" %>

<div class = "homepage">
	<nav>
	<%= link_to "Blog |", :controller =>"blog", :action => "index"%>
	<%= link_to "About | ", :controller =>"blog", :action => "index"%>
	<%= link_to "Projects", :controller =>"blog", :action => "index"%>
	</nav>
	<div>
	<img src = "./images/donkey_transparent.png" alt = "josetxo-donkey" />

	</div>
</div>
