<%= stylesheet_link_tag "homepage_style.css" %>

<div class = "homepage">
	<%= link_to "Blog", :controller =>"blog", :action => "index"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to "About", :controller =>"blog", :action => "index"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to "Projects", :controller =>"blog", :action => "index"%>
</div>
