<%= render "/post/header" %>

<div class = "blog_all">
<% if (@posts != nil)%>
	<% @posts.each do |p|%>
	<div id = "blog_entry", class = "blog">
		<div id = "blog_entry_subject"class = "subject">
			<%= link_to p.name, :controller => "blog/post", :action => "show" , :id => p.id.to_s %>
		</div>
	</div>
	<% end %>
<% end%>
</div>



