body
{
    /* body style */
    background: #FFFFFF;
  }

.homepage
{
    /*styles for the homepage div  */
   margin-top: 10%;
   margin-left: 35%; 
}

.homepage a
{
    /* blog link from homepage style */
    color: black;
    font-size: 40px;
    font-style: normal;
    text-decoration:none;
}

.homepage a:hover
{
    /* blog link from homepage style, hover */
    background: black;
    color:white;
}
